body {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}
.form-container {
    background-color: #356a47;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 400px;
    text-align: center;
}
.form-container h2 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: #333;
}
input, textarea {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ffffff;
    border-radius: 5px;
    font-size: 1rem;
}
button {
    background-color: #000;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}
button:hover {
    background-color: #333;
}